@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Fira sans',sans-serif;
}

button{
    cursor: pointer;
}

button:focus{
    outline: none;
}

header{
    margin: 0;
    padding: 7px;
    background-color: #000000;
    height: 60px;
    position: sticky;
}

header button{
    background-color: darkorange;
    height: 90%;
    width: max-content;
    font-family: 'Fira Sans',sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 1s;
}

header button:hover{
    background-color:#F9E79F;
}

header button:focus{
    background-color:#F9E79F;
}

#content{
    width: 100%;
    height: 82.2vh;
    overflow-y: auto;
    margin-bottom: 60px;
}


#promos{
    width: 678px;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
}

#promoContainer{
    width: 60%;
}

#promoImage img{
    margin: 0 auto;
    display: block;
    margin-top: 20px
}

#buttons{
    width: 100%;
    margin: 20px;
}

#buttons button{
    background-color: darkorange;
    height: 90%;
    width: 45%;
    font-family: 'Fira Sans',sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

#buttons button:hover{
    animation: leftrightanimation;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes leftrightanimation{
    0%{
        background-color: darkorange;
        color: black;
    }
    50%{
        background-color: black;
        color: darkorange;
    }
    100%{
        background-color: darkorange;
        color: black;
    }
}

#carousel{
    display: flex;
    width: 100%;
    height: 381px;
}

.promoImg{
    cursor: pointer;
}

#promoContainer{
    margin: 0 auto;
}


.goods{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.good{
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 550px;
    border: 1px solid #D5D8DC;
    box-shadow: #EBEDEF 3px 3px 2px 2px;
    border-radius: 10px;
    background-color: #FEF9E7;
}

.buy{
    width: 90%;
    font-size: 1.3em;
    margin: 15px;
    background-color: #D5F5E3;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.good button {
    cursor: pointer;
}

.good .buy:hover{
    background-color: #2ECC71;
}


.good span{
    margin-left: 15px;
    width: 100%;
}

.good img{
    width: 280px;
    margin: 10px;
    cursor: pointer;
}

#container{

    width: 80%;
    /*height: 800px;*/
    margin: 0 auto;

    
}

#form{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

#form input{
    width: 80%;
    margin:0 auto;
    height: 1.3em;
    margin-bottom:20px;
    font-family: 'Fira Sans',sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
}

#form select{
    width: 80%;
    margin:0 auto;
    height: 1.3em;
    margin-bottom:20px;
    font-family: 'Fira Sans',sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
}

#form #buybutton{
    background-color: darkorange;
    height: 50px;
    width: max-content;
    font-family: 'Fira Sans',sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    margin-top: 20px;
    display: block;
}

.cartphoto{
    height: 100px;
    width: 100px;
    margin:10px;
}


.foot{
    background-color: black;
    color:darkorange;
    height: 50px;
    margin-top: 50px;
    text-align: center;
    bottom: 0px;
 /*   position: fixed; */
    width: 100%;
}

.orderItem{
    margin: 0;
    height:120px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: 35%;
}

.orderItem *{
    display: inline-block;
 
    height: 50%;
}

.orderItem button{
    height: 40%;
    background-color: black;
    color: darkorange;
    font-family: 'Fira Sans',sans-serif;
    font-size: larger;
    width: 70px;
    border:none;
    border-radius: 5px;
}

#item{
    height: 90vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
    "image data"
    "image  ."
    ".  ."
     ;
}

#image{
    grid-area: image;
}

#image img{
    width: 500px;
}


#desc{
    grid-area: data;
}

table{
    margin: 0 auto;
}

tr{
    margin: 20px;
    padding: 10px;
    border-top: 2px solid black;
}

td{
    padding: 15px;
    text-align: center;
}

td img{
    height: 100px;
}

td .image{
    width: fit-content;
}

.change{
    cursor: pointer;
}

#image img{
    width: 500px;
}


#confirm{
    background-color: darkorange;
    height: 50px;
    width: max-content;
    font-family: 'Fira Sans',sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

#clearorderlist{
    background-color: tomato;
    height: 50px;
    width: max-content;
    font-family: 'Fira Sans',sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;    
    margin:0 auto;
    margin-top: 20px;
    display: block;
}

@media screen and (max-width: 850px) {
    body{
        font: 1.1em sans-serif;
    }
    header button{
        font-size: 1.1em;
    }
    .goods{
        height: auto;
    }
    .good{
        padding: 10px;
        margin: 10px;
        width: 500px;
        height: 650px;
        border: 1px solid #D5D8DC;
        box-shadow: #EBEDEF 3px 3px 2px 2px;
        border-radius: 10px;
        background-color: #FEF9E7;
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    .good img{
        display: block;
        width: 325px;
        margin: 0 auto;
    }
    .good p{
        text-align: center;
    }
    .good span{
        margin:25px;
    }
    #item{
        height: 90vh;
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        gap: 0px 0px;
        grid-template-areas:
        "image"
        "desc"
        ;
    }

    #image{
        grid-area: image;
        margin: 0 auto;
    }

    #image img{
        width: 400px;
    }

    #desc{
        grid-area: desc;
        font-size: 1.5em;
        margin: 0 auto;
        height: 110%;
    }
    
}

@media screen and (max-width: 678px) {
    #image{
        margin: 0 auto;
    }
    #promos{
        width: 90%;
    }
    .promoImg{
        cursor: pointer;
        width: 100%;
    }
    header{
        height: 290px;
    }
    header button{
        font-size: 1.1em;
        display: block;
        width: 100%;
        height: 40px;
    }
    #promoImage{
        width: 100%;
    }
    .foot{
        background-color: black;
        color:darkorange;
        height: 60px;
        margin-top: 50px;
        text-align: center;
        bottom: 0px;
        position: fixed;
        width: 100%;
    }
    #form #buybutton{
        margin-bottom: 100px;
        font-size: 1.1em;
    }
}
